* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

h1 {
    border-radius: 10px;
    font-family: 'Merienda', cursive;
    font-size: 50px;
    margin: -30px 0 15px;
    padding: 0 12px;
}

.recipe-list {
    width: 400px;
    border: 3px solid orange;
}

li {
    font-size: 25px;
}

a {
    color: orange;
    font-size: 25px;
    /* text-decoration: none; */
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    font-weight: bold;
    font-size: 16px;
    background-color: #221d31;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social-media {
    display: flex;
    gap: 8px;
}

.github-icon {
    filter: invert(100%);
}